<div class="box-section">
    <h2>Portfólio</h2>
    <div class="trabalhos">
        <div class="trabalho">
            <div class="card">
                <div class="img-div">
                    <img src="https://img.freepik.com/free-photo/digital-art-galaxy_23-2151050631.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1712880000&semt=ais" alt="">
                </div>
                <div class="text-trabalho">
                    <span>SASS</span>
                    <h3 class="titulo">Clínicas</h3>
                </div>
            </div>
            <div class="card">
                <div class="img-div">
                    <img src="https://play-lh.googleusercontent.com/W2LTeVXvFCMF3PlBePRZHEEXR1yCV604HWsU8Zchk9wTzWd5C2cuDmsAbbmBgM65AcNp=w240-h480-rw" alt="">
                </div>
                <div class="text-trabalho">
                    <span>Aplicativo</span>
                    <h3 class="titulo">Locker</h3>
                </div>
            </div>
            <div class="card">
                <div class="img-div">
                    <img src="https://s0.smartresize.com/wallpaper/478/1000/HD-wallpaper-cube-multicolor-3d-maya.jpg" alt="">
                </div>
                <div class="text-trabalho">
                    <span>Biblioteca</span>
                    <h3 class="titulo">Chartjs</h3>
                </div>
            </div>
            <div class="card">
                <div class="img-div">
                    <img src="https://product-hub-prd.madeiramadeira.com.br/2818119/images/0154ce77-a1dd-45d9-9797-9b8f97dba80410316826papeldeparedeabstratogeometrico3dparaquartosesalamm3d083m70521600x600.jpg?width=500&canvas=1:1&bg-color=FFF" alt="">
                </div>
                <div class="text-trabalho">
                    <span>Biblioteca</span>
                    <h3 class="titulo">DataTable</h3>
                </div>
            </div>
        </div>
    </div>
</div>
