<section class="section">
    <div class="box-section">
        <div class="foto-perfil">

        </div>
        <div class="nome">
            <h2>
                Yara S L Setoue
            </h2>
        </div>
        <div class="sociais">
            <ul class="btn-icon">
                <li>
                    <a>
                        <img class="icon" src="./assets/icon/likedin.png" alt="likedin">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="icon" src="./assets/icon/instagram.png" alt="likedin">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="icon" src="./assets/icon/github.png" alt="likedin">
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn">
            <a class="link-download">
                <div class="img-icon">
                    <img class="icon" src="./assets/icon/download-direto.png">
                </div>
              <span>Download Cv</span>  
            </a>
        </div>
    </div>
</section>