<section class="section-perfil">
    <div class="foto-perfil">
        <img [src]="assets('/images/EU.jpeg')" alt="Uma foto minha">
    </div>
    <div class="nome">
        <h2>
            Yara Setoue
        </h2>
    </div>
    <div class="area-atuacao">
        <h2>
            Desenvolvedora Web
        </h2>
    </div>
    <div class="sociais">
        <ul class="btn-icon">
            <li>
                <a href="https://www.linkedin.com/in/yara-setoue" target="__blank">
                    <img class="icon" [src]="assets('/icon/likedin.png')" alt="meu likedin">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/shitsumi" target="__blank">
                    <img class="icon" [src]="assets('/icon/instagram.png')" alt="meu instagram">
                </a>
            </li>
            <li>
                <a href="https://github.com/YaraSetoue" target="__blank">
                    <img class="icon" [src]="assets('/icon/github.png')" alt="meu github">
                </a>
            </li>
        </ul>
    </div>
    <div class="btn">
        <a class="link-download">
            <div class="img-icon">
                <img class="icon" [src]="assets('/icon/download-direto.png')">
            </div>
            <span>Download Cv</span>  
        </a>
    </div>
</section>