.section-perfil{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    height: fit-content;
    transition: 0.4s;
    position: sticky;
    top: 30px;
}
.foto-perfil{
    border-radius: 5px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: var(--color-secondary);
}
.foto-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.area-atuacao{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-secondary);
}
.area-atuacao h2{
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
}
.nome h2{
    width: 100%;
    text-align: center;
}
.sociais .btn-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.sociais .btn-icon li{
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
}
.sociais .btn-icon li a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sociais .btn-icon li .icon{
    /* filter: brightness(0) saturate(100%) invert(13%) sepia(51%) saturate(2942%) hue-rotate(243deg) brightness(90%) contrast(83%); */
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(103%) contrast(102%);
}

.sociais .btn-icon li:hover{
    background-color: var(--color-secondary);
}
.sociais .btn-icon li:hover .icon{
    filter: none;
}

.btn{
    border-radius: 5px;
    padding: 15px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}

.btn .link-download span{
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-btn);
}
.btn:hover{
    background-color: var(--color-secondary);
}
.btn:hover .link-download span{
    color: var(--color-primary);
}
.img-icon{
    display: none;
    transition: 0.4s;
}
.img-icon img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(174%) contrast(104%);
}

@media  ( max-width: 1300px ){
    .nome h2{
        text-wrap: balance;
        text-overflow: ellipsis;
    }
    .btn{
        padding: 10px;
    }
    .icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    .link-download .img-icon{
        display: flex;
        justify-content: center;
    }
    .link-download span{
        display: none;
    }
    .foto-perfil{
        display: none;
    }
    .sociais .btn-icon{
        flex-direction: column;
    }
}
@media  ( max-width: 800px ){
    .section-perfil{
        display: none;
    }
}