.skills{
    background-color: var(--color-secondary);
    margin: 0 -30px;
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.list-skills{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 50px;
}
.skills h2{
    color: #ffffff;
}
.box-skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 320px;
}
.skill{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* cursor: pointer; */
    transition: 0.4s;
}
/* .skill:hover{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(88 84 99 / 32%);
} */
.text-skill{display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-primary);
}
.title-skill{
    color: #3f2e6d;
}

.percentual::after{content: "";
    position: relative;
    display: block;
    border-radius: 50px;
    width: 45%;
    height: 10px;
    background-color: var(--color-primary);
}
.skills-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.skills-card .card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    transition: all 0.4s;
}
.skills-card .card:hover{
    background-color: var(--color-secondary);
}
.skills-card .card span{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}
.experiencia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.experiencia h2{
    margin-bottom: 20px;
}
.experiencia h2::before{
    content: "";
    display: block;
    position: relative;
    top: 42px;
    border-radius: 50px;
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
}
.card-experiencia{
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 5px;
    width: 320px;
    box-shadow: none;
}
.card-experiencia span{
    font-size: 0.85rem;
    color: #6B6776;
}
.card-experiencia h3{
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-experiencia p{
    font-size: 1rem;
    color: #ffffff;
}
@media(max-width: 1130px){
    .list-skills{
        flex-wrap: wrap;
    }
    .box-skills{
        width: 100%;
    }
    .experiencia{
        gap: 10px;
    }
    .box{
        width:100%;
    }
    .card-experiencia{
        width: 100%;
    }
}