<div class="box-section">
    <div class="sobre">
        <h2>Sobre mim</h2>
        <p>
            Eu sou Yara Setoue e sou desenvolvedora web, gosto muito dessa área e desejo ser uma profissional experiente na área. 
            Tenho bastante facilidade em aprender e comprender por isso tenho absorvido muito sobre vários assuntos de programação, 
            também sou extrovertida e sempre pergunto caso tenha dúvidas com meus professores e superiores. 
            Sei que sou capaz de crescer ainda mais com meus esforços.
        </p>
    </div>
    <div class="skills">
        <h2>Skills</h2>
        <div class="box">
            <div class="box-skills">
                <!-- <h2>Desenvolvimento Web</h2> -->
                <div class="nav-tabs">
                    <div class="tabs">
                        <div class="nav-item active" (click)="tabActive($event, 'linguagens')">
                            <span>Linguagens</span>
                        </div>
                        <div class="nav-item" (click)="tabActive($event, 'bancoDeDados')">
                            <span>Banco de Dados</span>
                        </div>
                        <div class="nav-item" (click)="tabActive($event, 'frameworks')">
                            <span>Frameworks</span>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane show" id="linguagens">
                        <div class="card tooltip">
                            <span class="text">HTML/CSS</span>
                            <span class="tooltiptext">2 anos de experiência</span>
                        </div>
                        <div class="card tooltip">
                            <span class="text">JavaScript</span>
                            <span class="tooltiptext">2 anos de experiência</span>
                        </div>
                        <div class="card tooltip">
                            <span class="text">PHP</span>
                            <span class="tooltiptext">2 anos de experiência</span>
                        </div>
                        <div class="card tooltip">
                            <span class="text">Typescript</span>
                            <span class="tooltiptext">2 anos de experiência</span>
                        </div>
                    </div>
                    <div class="tab-pane" id="bancoDeDados">
                        <div class="card tooltip">
                            <span class="text">MySQL</span>
                            <span class="tooltiptext">2 anos de experiência</span>
                        </div>
                    </div>
                    <div class="tab-pane" id="frameworks">
                        <div class="card tooltip">
                            <span class="text">Laravel</span>
                            <span class="tooltiptext">2 anos de experiência</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-skills ">
                <ul>
                    <li>
                        <div class="skill-experiencia">
                            <p>Desenvolvimento Web<span>35%</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="experiencia">
        <div class="box">
            <h2>Experiências</h2>
            <div class="cards">
                <div class="card card-experiencia">
                    <span>2023-2024</span>
                    <h3>UNIBRA - Centro Universitário Brasileiro</h3>
                    <p>Recife - PE</p>
                </div>
                <div class="card card-experiencia">
                    <span>2021-2023</span>
                    <h3>VIRTUABIL</h3>
                    <p>Recife - PE</p>
                </div>
            </div>
        </div>
        <div class="box">
            <h2>Cursos e certificados</h2>
            <div class="cards">
                <div class="card card-experiencia">
                    <span>2022-2024</span>
                    <h3>Análise e Desenvolvimento de Sistemas</h3>
                    <p>Recife - PE</p>
                </div>
                <div class="card card-experiencia">
                    <span>2019-2021</span>
                    <h3>Redes de Computadores</h3>
                    <p>Recife - PE</p>
                </div>
            </div>
        </div>
    </div>
</div>