
.skills{
    background-color: var(--color-secondary);
    margin: 0 -30px;
    padding: 20px 30px;
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.skills h2{
    color: var(--color-white);
}
.skills .box-skills{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.skills .box-skills h2{
    margin-bottom: 10px;
}
.skills .box-skills ul li .skill-experiencia p{
    font-weight: 800;
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: 1.02rem;
    color: var(--color-primary);
}
.skills .box-skills ul li,.skills .box-skills ul li .skill-experiencia,.skills .box-skills .nav-tabs{
    display: flex;
    flex-direction: column;
}
.skills .box-skills ul li{
    gap: 5px;
}
.skills .box-skills ul li:after{
    content: "";
    background-color: var(--color-white);
    height: 8px;
    width: 100%;
    border-radius: 10px;
}
.skills .box-skills ul li .skill-experiencia{
    position: relative;
}
.skills .box-skills ul li .skill-experiencia:after{
    content: "";
    position: absolute;
    top: 25px;
    background-color: var(--color-primary);
    height: 8px;
    width: 35%;
    border-radius: 10px;
}
.skills .box-skills .nav-tabs .tabs{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.skills .box-skills .nav-tabs:after{
    content: "";
    width: 100%;
    height: 2px;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.25);
    border-radius: 10px;
}
.skills .box-skills .nav-tabs .nav-item{
    width: fit-content;
    position: relative;
    padding-bottom: 6px;
    cursor: pointer;
}
.skills .box-skills .nav-tabs .nav-item span{
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
}
.skills .box-skills .nav-tabs .nav-item.active:after{
    content: "";
    background-color: var(--color-primary);
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 25px;
    border-radius: 10px;
}
.skills .box-skills .nav-tabs .nav-item.active span{
    color: var(--color-primary);
}
.skills .box-skills .tab-content {
    margin-top: 8px;
}
.skills .box-skills .tab-content .tab-pane{
    display: none;
    flex-wrap: wrap;
    gap: 5px;
}
.skills .box-skills .tab-content .tab-pane.show{
    display: flex;
}
.skills .box-skills .tab-content .tab-pane .card{
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
    height: 25px;
    border-radius: 5px;
    width: fit-content;
    padding: 15px;
    transition: all 0.4s;
}
.skills .box-skills .tab-content .tab-pane .card:hover{
    background-color: var(--color-secondary);
}
.skills .box-skills .tab-content .tab-pane .tooltip .text{
    font-weight: 700;
}
.skills .box-skills .tab-content .tab-pane .tooltip .tooltiptext{
    background-color: rgb(63 46 109 / 60%);
    right: auto;
    top: 33px;
    font-size: 0.85rem;
    text-shadow: 1px 2px 3px rgb(0, 0, 0, 0.6);
}

.experiencia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.experiencia h2{
    margin-bottom: 20px;
}
.experiencia h2::before{
    content: "";
    display: block;
    position: relative;
    top: 42px;
    border-radius: 50px;
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
}
.card-experiencia{
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 5px;
    width: 320px;
    box-shadow: none;
}
.card-experiencia span{
    font-size: 0.85rem;
    color: #6B6776;
}
.card-experiencia h3{
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-experiencia p{
    font-size: 1rem;
    color: #ffffff;
}
@media(max-width: 1130px){
    .experiencia{
        gap: 10px;
    }
    .box{
        width:100%;
    }
    .card-experiencia{
        width: 100%;
    }
}