<div class="box-section">
    <div class="sobre">
        <h2>Sobre mim</h2>
        <p>
            Eu sou Yara Setoue e sou desenvolvedora web, gosto muito dessa área e desejo ser uma profissional experiente na área. 
            Tenho bastante facilidade em aprender e comprender por isso tenho absorvido muito sobre vários assuntos de programação, 
            também sou extrovertida e sempre pergunto caso tenha dúvidas com meus professores e superiores. 
            Sei que sou capaz de crescer ainda mais com meus esforços.
        </p>
    </div>
    <div class="skills">
        <h2>Skills</h2>
        <div class="list-skills">
            <div class="box-skills">
                <div class="skill">
                    <div class="text-skill">
                        <h3>Desenvolvimento Web</h3>
                        <span>45%</span>
                    </div>
                    <div class="percentual"></div>
                </div>
            </div>
            <div class="box-skills">
                <h3 class="title-skill">Desenvolvimento web</h3>
                <div class="skills-card">
                    <div class="card tooltip">
                        <span class="text-card">HTML</span>
                        <span class="tooltiptext">2 anos de experiência</span>
                    </div>
                    <div class="card tooltip">
                        <span class="text-card">JAVASCRIPT</span>
                        <span class="tooltiptext">2 anos de experiência</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="experiencia">
        <div class="box">
            <h2>Experiências</h2>
            <div class="cards">
                <div class="card card-experiencia">
                    <span>2023-2024</span>
                    <h3>UNIBRA - Centro Universitário Brasileiro</h3>
                    <p>Recife - PE</p>
                </div>
                <div class="card card-experiencia">
                    <span>2021-2023</span>
                    <h3>VIRTUABIL</h3>
                    <p>Recife - PE</p>
                </div>
            </div>
        </div>
        <div class="box">
            <h2>Cursos e certificados</h2>
            <div class="cards">
                <div class="card card-experiencia">
                    <span>2022-2024</span>
                    <h3>Análise e Desenvolvimento de Sistemas</h3>
                    <p>Recife - PE</p>
                </div>
                <div class="card card-experiencia">
                    <span>2019-2021</span>
                    <h3>Redes de Computadores</h3>
                    <p>Recife - PE</p>
                </div>
            </div>
        </div>
    </div>
</div>