<div class="box-section">
    <div class="sobre">
        <h2>Sobre mim</h2>
        <p>Eu sou Yara Shitsumi Lacerda Setoue</p>
    </div>
    <div class="skills">
        <h2>Skills</h2>
        <div class="list-skills">
            <div class="box-skills">
                <div class="skill">
                    <div class="text-skill">
                        <h3>Desenvolvimento Web</h3>
                        <span>50%</span>
                    </div>
                    <div class="percentual"></div>
                </div>
            </div>
            <div class="box-skills">
                <h3 class="title-skill">Desenvolvimento web</h3>
                <div class="skills-card">
                    <div class="card"><span>HTML</span></div>
                    <div class="card"><span>CSS</span></div>
                    <div class="card"><span>JAVASCRIPT</span></div>
                    <div class="card"><span>PHP</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="experiencia">
        <div>
            <h2>Experiências</h2>
            <div class="cards-experiencia">
                <div class="card card-experiencia">
                    <span>2023-2024</span>
                    <h3>UNIBRA - Centro Universitário Brasileiro</h3>
                    <p>Recife - PE</p>
                </div>
            </div>
        </div>
        <div>
            <h2>Cursos e certificados</h2>
            <div class="cards-experiencia">
                <div class="card card-experiencia">
                    <span>2022-2024</span>
                    <h3>Analise e Desenvolvimento de Sistemas</h3>
                    <p>Recife - PE</p>
                </div>
            </div>
        </div>
    </div>
</div>