<section class="section">
    <div class="box-section">
        <ul class="btn-icon">
            <li (click)="goHome()" class="tab-link tooltip" id="home">
                <img class="icon" src="/assets/icon/home.png" alt="inicio">
                <span class="tooltiptext">Home</span>
            </li>
            <li (click)="goPortfolio()" class="tab-link tooltip" id="portfolio">
                <img class="icon" src="/assets/icon/pasta.png" alt="portfolio">
                <span class="tooltiptext">Portfolio</span>
            </li>
            <li (click)="goContato()" class="tab-link tooltip" id="contato">
                <img class="icon" src="/assets/icon/telefone.png" alt="contato">
                <span class="tooltiptext">Contato</span>
            </li>
        </ul>
    </div>
</section>