.form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.form-group{
    position: relative;
    display: flex;
    align-items:center;
}
.form-group .form-label .label{
    color: var(--color-secondary);
    font-size: 1.75rem;
    position: absolute;
    background-color: #ffffff;
    left: 10px;
    bottom: 10px;
    transition: transform 0.5s ease;
}
.form-group .form-control{
    width: 100%;
    min-height: 42px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--color-primary);
}
.form-group textarea.form-control{
    resize: none;
    width: 500px;
    height: 100px;
}
.form-group textarea.form-control + .form-label .label{
    transform: translateY(-47px);
}
.form-group textarea.form-control + .form-label .hasvalue{
    transform: translateY(-77px);
}
.hasvalue{
    transform: translateY(-29px);
}
.form-group .form-control:focus-visible {
    border: 2px solid var(--color-secondary);
}
.form-group .form-control:focus-visible + .form-label .label{
    transform: translateY(-29px);
}
.form-group textarea.form-control:focus-visible + .form-label .label{
    transform: translateY(-77px);
}
.btn{
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    border: none;
    background-color: var(--color-primary);
    color: #ffffff;
    font-family: "Big Shoulders Text", sans-serif;
    font-size: 1rem;
    font-weight: 800;
}
.btn:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}